---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
      <div class="row center">
        <a href="https://play.google.com/store/apps/details?id=io.csabaconsulting.android.cryptomatchdonation" id="download-button" class="">
          <!-- <i class="material-icons">android</i> Get Started -->
          <img src="img/google-play-badge.png">
        </a>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- Icon Section -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">play_circle_outline</i></h2>
            <h5 class="center">Step 1. Donate selected amount</h5>

            <p class="light">Specify a BTC address you wish the 60% donation match should go to. Please double check the address because once it's in the queue the transaction is irreversible.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">update</i></h2>
            <h5 class="center">Step 2. Wait 24 hours</h5>

            <p class="light">The wait start time is cited in the email you receive about the donation.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">done_outline</i></h2>
            <h5 class="center">Step 3. Match happens</h5>

            <p class="light">The specified BTC address will receive 60% of the donation. The conversion rate is the current rate at the time of the crypto transaction. You'll receive another email about the details.</p>
          </div>
        </div>
      </div>

    </div>
      
  </div>
  <div style="background: #ddd">
    <div class="container last-post">
      <section>
        <h5>Latest News</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
      </section>
    </div>
  </div>

</div>
